\#parse("include/constants.vm")
<!DOCTYPE html>
<html>
<head>
    <title></title>
	<link rel="stylesheet" type="text/css" href="$ctx/styles/easyui/default/easyui.css">
	<link rel="stylesheet" href="$ctx/styles/easyui/icon.css" />
	<link rel="stylesheet" href="$ctx/styles/main.css" />
	<style type="text/css">
        .tb{
        	margin:0 0 0 20px;
        	padding:0px;
        	list-style:none;
        }
        .tb li{
        	padding:20px 0 0 0;	
        }
        .tb li div{
        	display:inline;	
        }
    </style>
</head>
<body class="easyui-layout" data-options="fit:true">
    <div data-options="region:'north',border:false" id="searchPane" style="height:80px;background-color:#f5f5f5;overflow:hidden;">
		<form id="searchForm">
    		<ul class="tb">
    			<li>
			#foreach($column in $columnDatas)
				#if($column.propertyName != "id")
					<div style="margin-left:10px;">
						<strong>${column.columnComment}：</strong>
						<input id="$column.propertyName" name="$column.propertyName"  class="${column.classType}" type="text" style="width:130px"/>
					</div>
				#end
			#end
					<div>
    					<a id="searchBtn" href="javascript:;" class="easyui-linkbutton" data-options="iconCls:'icon-search',plain:true">
    						查询
    					</a>
						<a id="clearBtn" href="javascript:;" class="easyui-linkbutton" data-options="iconCls:'icon-delete',plain:true">
    						清除
    					</a>
    				</div>
    			</li>
    		</ul>
    	</form>
	</div>
	
    <div data-options="region:'center',border:false" style="overflow:hidden;">
		<table id="${lowerName}_grid"></table>
		<div id="right_menu" class="easyui-menu" style="width: 120px;">
	    	<div iconCls="icon-add" id="addItem">添加</div>
			<div iconCls="icon-edit" id="updateItem">修改</div>
	    	<div iconCls="icon-remove" id="mutiDelete">批量删除</div>
	    	<div iconCls="icon-remove" id="singleDelete">删除</div>
	    	<div iconCls="icon-look" id="viewItem">查看</div>
    	</div>
	</div>
</body>


<script type="text/javascript">
var ctx = "$ctx";
</script>
<script type="text/javascript" src="$ctx/scripts/common/jquery.min.js"></script>
<script type="text/javascript" src="$ctx/scripts/lib/easyui/jquery.easyui.min.js"></script>
<script type="text/javascript" src="$ctx/scripts/lib/easyui/easyui-lang-zh_CN.js"></script>
<script type="text/javascript" src="$ctx/scripts/common/util.js"></script>
<script type="text/javascript" src="$ctx/scripts/common/constants.js"></script>
<script type="text/javascript" src="$ctx/scripts/${lowerName}/index.js"></script>
</html>
